<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <!-- <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section> -->

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/feed">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/cal">Calendar</a></li>
                <li><a href="/logout" class="col-3 btn btn-primary">Logout</a></li>
        </nav>

        <!-- Section -->
        <section class="top-events">
            <header class="major">
                <h2>Recent Events</h2>
            </header>
            <div class="mini-posts">
                <% posts.slice(0, 3).forEach((post) => { %>
                    <article>
                        <img src="<%- post.image %>" style="width: 100%;">
                        <p><%= post.title %> - Attending: <%= post.going %></p>
                    </article>
                <% }); %>
            </div>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in Touch</h2>
            </header>
            <p>Introducing Community Catalyst, the groundbreaking app that revolutionizes community 
                empowerment for the black and brown community. Seamlessly connect, organize, 
                and drive impactful change like never before. Discover a vibrant hub of activism and 
                unwavering support, fostering connections with like-minded individuals and 
                organizations. <br><br>Engage in powerful conversations, share vital information, 
                and effortlessly coordinate transformative events. Unlock access to invaluable 
                resources and funding opportunities, igniting your mission and amplifying your 
                voice to create lasting impact.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">info@resilientcoders.org</a></li>
                <li class="icon solid fa-home">1 Broadway, 11th floor,<br />
                    Cambridge, MA 02142
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Resilient Coders: Community Catalyst</p>
            <p><a href="https://www.resilientcoders.org/">Connect With Us</a></p>
        </footer>

    </div>

</div>