<%- include('partials/head') -%>

    <link rel="stylesheet" href="assets/css/feed.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="/" class="logo"><strong>Community</strong> Catalyst</a>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/resilientcoders"
                  class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.facebook.com/resilientcoders/"
                  class="icon brands fa-facebook-f"
                  ><span class="label">Facebook</span></a
                >
              </li>

              <li>
                <a
                  href="https://www.instagram.com/resilientcoders/?hl=en"
                  class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
            </ul>
          </header>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Feed</h1>
            </header>

            <span class="image main"><img src="images/CC.jpg" alt="" /></span>
            <!-- Add cards , AH DG-->
            <div class="eventContainer">
              <div class="eventCard">
                <h3 class="eventTitle">Community Event Testing</h3>
                <h4 class="eventLocation">
                  <i class="fas fa-map-marker-alt"></i> Boston, MA
                </h4>
                <p class="eventTime">
                  <i class="far fa-calendar-alt"></i> August 1, 2023
                </p>
				<a href ="#">Link to Event</a>
				
				<button class="btnGoing"> I am Going </button>
				
              </div>

			  <div class="eventCard">
                <h3 class="eventTitle">Community Event Testing</h3>
                <h4 class="eventLocation">
                  <i class="fas fa-map-marker-alt"></i> Boston, MA
                </h4>
                <p class="eventTime">
                  <i class="far fa-calendar-alt"></i> August 1, 2023
                </p>
				<a href ="#">Link to Event</a>
				
				<button class="btnGoing"> I am Going </button>
				
              </div>


			  <div class="eventCard">
                <h3 class="eventTitle">Community Event Testing</h3>
                <h4 class="eventLocation">
                  <i class="fas fa-map-marker-alt"></i> Boston, MA
                </h4>
                <p class="eventTime">
                  <i class="far fa-calendar-alt"></i> August 1, 2023
                </p>
				<a href ="#">Link to Event</a>
				
				<button class="btnGoing"> I am Going </button>
				
              </div>


			  <div class="eventCard">
                <h3 class="eventTitle">Community Event Testing</h3>
                <h4 class="eventLocation">
                  <i class="fas fa-map-marker-alt"></i> Boston, MA
                </h4>
                <p class="eventTime">
                  <i class="far fa-calendar-alt"></i> August 1, 2023
                </p>
				<a href ="#">Link to Event</a>
				
				<button class="btnGoing"> Going </button>
				
              </div>

            </div>
          </section>
        </div>
      </div>

      <%- include('partials/sidebar') -%>

	  <%- include('partials/scripts') -%>