<%- include('partials/head') -%>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<ul class="icons">
										<li>
										  <a href="https://twitter.com/resilientcoders" target="_blank" class="icon brands fa-twitter"><span
											  class="label">Twitter</span></a>
										</li>
										<li>
										  <a href="https://www.facebook.com/resilientcoders/" target="_blank"
											class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
										</li>
							
										<li>
										  <a href="https://www.instagram.com/resilientcoders/?hl=en" target="_blank"
											class="icon brands fa-instagram"><span class="label">Instagram</span></a>
										</li>
									  </ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Community Catalyst</h1>
										</header>
										<p>Introducing "Community Catalyst" – the app revolutionizing community empowerment for the black and brown community. With Community Catalyst, you can easily connect, organize, and make a meaningful impact.</p>
										<ul class="index-actions actions">
											<li><a href="/login" class="button big">Log In</a></li>
											<li><a href="/signup" class="button big">Sign Up</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="/images/landing.jpg" alt="strong person lifting boxes at a food drive" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<div class="features">
										<article>
											<span class="icon solid fa-hand-holding-heart"></span>
											<div class="content">
												<h3>Amplify Social Awareness</h3>
												<p>Together, we can create a ripple effect of change.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-lightbulb"></span>
											<div class="content">
												<h3>Spark Collaborative Action</h3>
												<p>Be the Catalyst, organize your own impactful events!</p>
											</div>
										</article>
										<article>
											<span class="icon fa-handshake"></span>
											<div class="content">
												<h3>Strengthen Local Connections</h3>
												<p>Connect, collaborate, and share ideas in message boards.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-calendar"></span>
											<div class="content">
												<h3>Access Vital Resources</h3>
												<p>Stay in the loop, never miss a beat!</p>
											</div>
										</article>
									</div>
								</section>							
						</div>

			</div>

            <%- include('partials/scripts') -%>