<%- include('partials/head') -%>

  </head>

  <body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
      <div id="main">
        <div class="inner">

          <!-- Header -->
          <header id="header">
            <ul class="icons">
              <li>
                <a href="https://twitter.com/resilientcoders" target="_blank" class="icon brands fa-twitter"><span
                    class="label">Twitter</span></a>
              </li>
              <li>
                <a href="https://www.facebook.com/resilientcoders/" target="_blank"
                  class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
              </li>
  
              <li>
                <a href="https://www.instagram.com/resilientcoders/?hl=en" target="_blank"
                  class="icon brands fa-instagram"><span class="label">Instagram</span></a>
              </li>
            </ul>
          </header>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h1>Hi, <%- user.userName -%></h1>
              <!-- <ul class="actions">
											<li><a href="#" class="button big">Learn More</a></li>
										</ul> -->
            </div>
          </section>


          
          <!-- Section -->
          <section>
            <header class="major">
              <h2>Create an Event</h2>
            </header>
            <div class="mt-5">  
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label"> Event Name</label>
                    <input type="text" class="form-control" id="title" name="title" required placeholder="Event Name">
                </div>
                <div class="mb-3">
                  <label for="caption" class="form-label">Event Details</label>
                  <textarea class="form-control" id="caption" name="caption" maxlength="200" required placeholder="Event Details (200 characters max)"></textarea>
                </div>
                <div class="mb-3">
                  <label for="eventLocation" class="form-label">Event Location</label>
                  <input type="text" class="form-control" id="eventLocation" name="eventLocation" required placeholder="Event Location">
                </div>
                <div class="mb-3">
                  <label for="eventDate" class="form-label">Date</label>
                  <input type="date" class="form-control" id="eventDate" name="eventDate" required>
                </div>
                <div class="mb-3">
                  <label for="time" class="form-label">Time</label>
                  <input type="time" class="form-control" id="time" name="time" required>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control" id="imageUpload" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
          </section>
        </div>
      </div>

      <%- include('partials/sidebar') -%>

        <%- include('partials/scripts') -%>